:root {
    --background: #FFFFFFaf;
    --background-solid: #FFFFFF;
    --accent: #555555;
    --accent-transparent: #5555552f;
}
  
[data-theme='dark'] {
    --background: #3333335f;
    --background-solid: #333333;
    --accent: #dddddd;
    --aceent-transparent: #dddddd2f;
    --text-color-normal: hsl(210, 10%, 62%);
    --text-color-light: hsl(210, 15%, 35%);
    --text-color-richer: hsl(210, 50%, 72%);
    --text-color-highlight: hsl(25, 70%, 45%);
}

body {
    margin: 0; /* dk if henry needs the margin, comment out when needed */
    overflow: hidden;
    width: 100vw;
}

#mapid { 
    height: 100vh; 
    width: 100vw; 
    background-color: gray;
    background-image: url("https://images.unsplash.com/photo-1530813089459-29f31dd229c2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fHNxdWFyZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80");
    background-size: 100vw 100vh;
}

.overlay {
    padding: 1px;
    margin: 0;
}

.bus {
}

.newly-updated {
    animation: highlight 3s cubic-bezier(.76,.05,.86,.06);
}

@keyframes highlight {
    0% {
        filter: hue-rotate(120deg);
    }
    100% {
        filter: none;
    }
}

.bus-image {
    transform-origin: center;
}
#canvas {
    z-index: 401;
}

#bottom-controls{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: stretch;

    position: absolute;
    bottom: 0;/*bottom: -30px;*/

    /*clip-path: url(#myClip);*/
}

#bump-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 6vmax; /* fix truncated height */
    max-height: 28px;
    width: max(calc(100vw - 12vmax), calc(100vw - 140px));
    z-index: 1;
}

#bump, #bump > svg {
    max-height: 28px;
    width: 12vmax;
    max-width: 140px;
}

#bump {
    height: 2.355vmax;
    position: relative;
    left: 30px;
}

#bump > svg {
    height: 2.4vmax;
    fill: var(--background-solid);
}

#progress {
    width: 100%;
    background-color: var(--background-solid);
    z-index: 5;
}

#time-slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    height: 1px;
    margin: 0 min(4.5vmax, 52.5px);
    width: max(calc(100vw - 9vmax), calc(100vw - 105px));
    background-color: var(--accent); /* need to fix ux of clicking outside the slider area so that it goes to one end */
}

#time-slider::-webkit-slider-thumb {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    /*background-image: url('assets/slider-thumb.svg');
    background-position: 0 0;
    width: 120px;
    height: 47px;*/
    width: 3vmax;
    max-width: 35px; /* check for mobile touch target sizes */
    height: 3vmax;
    max-height: 35px;
    border-radius: 2vmax;
    position: relative;
    bottom: min(1.5vmax, 17.5px);
    background-color: var(--accent);
    cursor: pointer;
    z-index: 5;
}

.tooltip {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

    background-color: var(--background);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 10px;
}

#slider-pos {
    position: relative;
    max-width: 150px;
    max-height: 50px;
    padding: 6px;
    margin: 4px;
}

#button-controls {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    width: 100%;
    padding: 5px 0;
    background-color: var(--background-solid);
}

.button-control-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 5px;
}

.button-control-icon-container:hover {
    background-color: var(--accent-transparent);
}

.button-control-icon {
    width: 20px;
    height: 20px;
    fill: var(--accent);
}

#play-pause > svg{
    width: 40px;
    height: 40px;
    fill: var(--accent);
}